form(class="form-auth", ng-submit="login()")
  h2 Log In
  p(class="text-warning") {{error_message}}
  input(type="username", ng-model="user.username", placeholder="Username", class="form-control")
  br
  input(type="password", ng-model="user.password", placeholder="Password", class="form-control")
  br
  input(type="submit", value="Log in", class="btn btn-primary center-block usr-btn")
